{% extends "layout.html" %}

{% load static %}



{% block body %}


<body class="portfolio-page">

  

  <main class="main">



    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-home" class="filter-home">Home</li>
            <li data-filter=".filter-office" class="filter-office">Office</li>
            <li data-filter=".filter-outdoor" class="filter-outdoor">Outdoor</li>
            <li data-filter=".filter-decor" class="filter-decor">Decor</li>
            <li data-filter=".filter-cabinetry" class="filter-cabinetry">Cabinetry</li>
          
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-home">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Home 1</h4>
                <p>Chair</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-1.jpg' %}" title="Home 1" data-gallery="portfolio-gallery-home" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-home">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Home 2</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-2.jpg' %}" title="Home 2" data-gallery="portfolio-gallery-home" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-decor">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-3.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Decor 1</h4>
                <p>Lamp</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-3.jpg' %}" title="Decor 1" data-gallery="portfolio-gallery-decor" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-cabinetry">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-4.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Cabinetry 2</h4>
                <p>cabinet</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-4.jpg' %}" title="Cabinetry 1" data-gallery="portfolio-gallery-cabinetry" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-home">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-5.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Home 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-5.jpg' %}" title="Home 3" data-gallery="portfolio-gallery-home" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-home">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-6.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Home 4</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-6.jpg' %}" title="Home 4" data-gallery="portfolio-gallery-home" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-decor">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-7.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Decor 2</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-7.jpg' %}" title="Decor 2" data-gallery="portfolio-gallery-decor" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-office">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-8.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-8.jpg' %}" title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-home">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-27.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Home 5</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-27.jpg' %}" title="Home 5" data-gallery="portfolio-gallery-home" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->



            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-cabinetry">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-10.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-10.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->


            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-home">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-11.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Home 6</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-11.jpg' %}" title="Home 6" data-gallery="portfolio-gallery-home" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->


            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-home">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-25.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Home 7</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-25.jpg' %}" title="Home 7" data-gallery="portfolio-gallery-home" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->


            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-cabinetry">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-24.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-24.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->


            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-office">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-26.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-26.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-office" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->


            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-outdoor">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-9.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-9.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-outdoor" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->


            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-home">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-23.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Home 8</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-23.jpg' %}" title="Home 8" data-gallery="portfolio-gallery-home" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->


            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-office">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-18.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-18.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-office" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->


            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-outdoor">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-21.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-21.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-outdoor" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->




            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-decor">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-14.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-14.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-decor" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->



            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-office">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-19.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-19.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-office" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->



            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-cabinetry">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-28.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-28.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-cabinetry" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->



            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-cabinetry">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-15.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-15.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-cabinetry" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->


            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-outdoor">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-16.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-16.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-outdoor" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->


            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-office">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-22.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-22.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-office" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-home">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-17.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Home 9</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-17.jpg' %}" title="Home 9" data-gallery="portfolio-gallery-home" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->


            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-cabinetry">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-29.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-29.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-cabinetry" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->


            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-home">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-30.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Home 10</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-30.jpg' %}" title="Home 10" data-gallery="portfolio-gallery-home" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url "portfolioDetails" %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->


      

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->

  </main>

  {% endblock  %}
 